.videoWrapper {
  position: relative;
  display: inline-block;
  padding: 0;
  &:hover::after {
    content: "";
    position: absolute;
    background-color: rgba(200, 200, 250, 0.6);
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &:hover .hoverText {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    .hoverTextButton {
      display: inline;
      background-color: white;
      z-index: 9;
      padding: 5px 10px;
      font-weight: bold;
      border-radius: 10px;
      border: 2px solid rgb(100, 100, 100);
      &:hover {
        cursor: pointer;
      }
    }
  }
  .hoverText {
    display: none;
  }
}
