$lightGreen: #00783f;
$lightGreenDisabled: rgb(176, 214, 172);
$lightGreenHover: #4ca244;
$darkGrey: #3f5963;
$darkGreen: #59c5ad;
$darkGreenHover: #48a893;
$logoGreen: #c3d251;

// Breakpoints

$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1500px;
